@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="text-center mt-4">Manage your account</h1>

<div>
    <hr />
    <div class="row">
        <div class="col mb-4">
            <partial name="_ManageNav" />
        </div>

        <div class="row">
            <div class="col">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
