@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutNoSideBar";
}

<h1 class="text-center mt-5"><i class="bi bi-code-slash"></i>&nbsp; Project Manager webalkalmazás</h1>
<hr class="w-75 mx-auto" />
<h3 class="text-center">Készítette: Vass Norbert</h3>
<h5 class="text-center text-muted">vassnorbert22@gmail.com</h5>

<div class="mt-5 pt-5 text-center secondary-bg mx-auto col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-12">
    <p class="mb-4"><a class="button-primary h5 py-3 px-5" asp-area="Identity" asp-page="/Account/Login">Bejelentkezés</a></p>
    <p class="mb-3"><a class="button-primary-no-bg" asp-area="Identity" asp-page="/Account/Register" style="font-size: 1.3rem;">Regisztráció</a></p>
    <hr />
    <p class="text-center mt-4"><a class="button-secondary-no-bg" asp-controller="Home" asp-action="About" style="font-size: 1.3rem;"><i class="bi bi-info-circle"></i> Információ az oldalról</a></p>
</div>